version: '3.8'

services:
  vue3_chatroom:
    image: vue-chatroom:latest
    build: .
    container_name: vue3-chatroom
    ports:
      - "11116:80"
    networks:
      - chat_service_network
    environment:
      - NODE_ENV=production
    restart: always

networks:
  chat_service_network:
    external: true
